<% if resource.errors.any? %>
  <div class="rounded-xl border border-rose-200 bg-rose-50 px-4 py-3 text-sm text-rose-700">
    <p class="font-semibold"><%= pluralize(resource.errors.count, "error") %> prevented this step from continuing:</p>
    <ul class="mt-2 list-disc space-y-1 pl-5">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
