<div class="absolute top-0 left-0 w-full h-[500px] overflow-hidden flex justify-center">
  <!-- Half-moon shape -->
  <div class="absolute w-[160vw] h-[220vw] md:h-[200vw] left-1/2 -translate-x-1/2 bg-cyan-500 top-[-160vw] lg:top-[-185vw] rounded-[50%] z-0"></div>
</div>