<div class="bg-white rounded-[15px] flex flex-col justify-center items-center py-5 px-5">
    <%= image_tag serve_image_remote_url(club.logo), class: "max-w-[200px] mb-5" %>
    <h2 class="text-3xl lg:text-3xl font-semibold text-center lg:text-start">
        New Membership
    </h2> 
</div>
<style>
    .club-header-color {
        background-color: club.oklch_color;
    }
</style>