

  
.dropzone {
    border: 2px dashed rgb(232, 232, 232);
    border-radius: 10px;
    color: rgb(147, 147, 147);
    display: flex;
    justify-content: center;
    min-height: 90px !important;
    align-items: center;
    cursor: pointer;
    
    .dropzone-msg-desc {
        font-size: 12px;
    }
    
    .dz-message {
        margin: 1em 0;
    }

    &.dz-drag-hover {
        border-color: rgb(0, 162, 255);
        background-color: rgba(228, 228, 228, 0.7);
        .dz-message {
        opacity: 0.9;
        }
    }
}

